/* adding css from original project  */ 
html[b-9ksc2etkyh], body[b-9ksc2etkyh] { background-color: rgb(167, 231, 186) }

text.center[b-9ksc2etkyh] {
  background-color: rgb(167, 231, 186);
  font-family: Open-Dyslexic, Comic Sans, Century Gothic, Verdana;
}

h1[b-9ksc2etkyh], h2[b-9ksc2etkyh], p[b-9ksc2etkyh] {
  text-align: center;
  font-weight: bolder;
}

h1[b-9ksc2etkyh] {
  color: rgb(0, 0, 0);
}

h2[b-9ksc2etkyh] {
  color: rgb(9, 58, 23);
  font-style: italic;
}


a.navbar-brand[b-9ksc2etkyh] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-9ksc2etkyh] {
  color: #0077cc;
}

.btn-primary[b-9ksc2etkyh] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-9ksc2etkyh], .nav-pills .show > .nav-link[b-9ksc2etkyh] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-9ksc2etkyh] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-9ksc2etkyh] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-9ksc2etkyh] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-9ksc2etkyh] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-9ksc2etkyh] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}