@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
  @*   <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@

    <h1 class="display-4">Fun With Words</h1>
    <h2>An Adventure in Sorytelling</h2>
        <p>This is a test.  It is not the real story. It is only a test.
        If it were a real story, it would have a fascinating plot, interesting characters and a clever ending.
        <br>
        Click on 'Stories' to get started.
        </p>
</div>
