html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  /* adding css from original project */
  background-color: rgb(167, 231, 186);
  font-family: Open-Dyslexic, Comic Sans, Century Gothic, Verdana;
}